<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.detect.mapper.DetectRequestMapper">

    <!--根据status，获取project信息-->
    <select id="selectDetectRequestByStatus" parameterType="int" resultType="com.example.detect.entity.DetectRequest">
        select
            project_name as projectName, project_company as projectCompany,
            location, id, detect_date as detectRequestDate, data_status as dataStatus, longitude, latitude
        from
            detect_request
        where
            data_status = #{dataStatus}
    </select>

    <update id="updateStatusAndDateByProjectId" >
        update
            detect_request
        set
            detect_date = #{date}, data_status = #{status}
        where
            id = #{projectId}
    </update>
</mapper>