<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.detect.mapper.UserMapper">
    <insert id="saveInfo" parameterType="com.example.detect.entity.User">
        insert into
            user(username, password, company_name, phone)
        values
            (#{username}, #{password}, #{companyName}, #{phone})
    </insert>
</mapper>