<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.detect.mapper.UserMapper">
    <insert id="saveInfo" parameterType="com.example.detect.entity.User">
        insert into
            user(username, password, company_name, phone)
        values
            (#{username}, #{password}, #{companyName}, #{phone})
    </insert>

    <select id="getInfoById" resultType="com.example.detect.entity.User">
        select
            username, company_name as companyName, phone
        from
            user
        where
            user_id = #{id}
    </select>

    <select id="getInfo" resultType="com.example.detect.entity.User">
        select
            username, user_id as userId, phone, company_name as companyName
        from
            user
        where
            phone = #{phone} and password = #{password}
    </select>
    
    <update id="updateUserInfo" parameterType="com.example.detect.entity.User">
        update
            user
        set
            username = #{username}, company_name = #{companyName}, password = #{password}
        where
            user_id = #{userId}
    </update>
</mapper>